.container {
  display: grid;

  grid-template-columns: 1fr;

  width: 100vw;
  height: 100vh;

  .left {
    display: none;

    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: min-content;

    padding: calc(var(--size-header-clear) + var(--size-unit-8))
      var(--size-unit-4) var(--size-unit-4);

    background-color: var(--color-text);

    color: var(--color-accent);

    u {
      color: var(--color-bg);
      text-decoration: none;
    }

    p {
      grid-column: 1 / span 5;

      font-size: var(--font-size-large);

      line-height: 1.4;

      padding: 0;
      margin: 0 0 var(--size-unit-4);
    }
  }

  .right {
    padding-top: var(--size-unit-8);

    background-color: var(--color-accent);

    overflow: auto;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

    .left {
      display: grid;
    }
  }
}

.add {
  display: flex;

  justify-content: center;

  button {
    display: flex;

    align-items: center;

    border-radius: var(--radii-lg);

    background-color: transparent;
    border: var(--size-line) solid var(--color-text);
    color: var(--color-text);

    padding: var(--size-unit-2) var(--size-unit-4);
    font-size: var(--font-size-small);

    outline: 0;

    cursor: pointer;

    svg {
      width: var(--size-unit-4);
      height: var(--size-unit-4);

      margin-right: var(--size-unit-2);
    }
  }
}

.remove {
  background-color: var(--color-text);
  color: var(--color-bg);

  outline: 0;
  border: 0;

  padding: 0 var(--size-unit-4);

  cursor: pointer;

  line-height: 0;
}

.submitBtn {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: var(--size-unit-8) var(--size-unit-4);

  .error {
    margin: 0 0 var(--size-unit-4);
    padding: var(--size-unit-2) var(--size-unit-4);

    border-radius: var(--radii-md);
    color: var(--color-bg);

    background-color: var(--color-failure);
  }

  button {
    background-color: var(--color-text);
    color: var(--color-bg);

    font-size: var(--font-size-large);

    padding: var(--size-unit-6) var(--size-unit-12);

    border-radius: var(--radii-lg);

    outline: 0;
    border: 0;

    cursor: pointer;

    transition: {
      property: opacity, transform;
      duration: 0.25s;
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
    }

    &:active {
      opacity: 0.75;
      transform: scale(0.9);
    }
  }
}

.stacked {
  --input-label-direction: column;

  @media screen and (min-width: 768px) {
    --input-label-direction: row;
  }
}

.success {
  position: fixed;

  height: 100vh;
  width: 100%;

  top: 0;
  right: 0;
  z-index: 2;
  background-color: var(--color-accent);

  display: flex;

  flex-direction: column;

  justify-content: center;

  opacity: 0;
  visibility: hidden;

  transition: {
    duration: 0.5s;
    property: opacity, visibility;
  }

  p {
    color: var(--color-text);

    text-align: center;

    font-size: var(--font-size-large);

    line-height: 1.4;

    b {
      font-weight: var(--font-weight-bold);
    }
  }

  .successContainer & {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.divider {
  width: 100%;
  height: var(--size-line);

  margin: var(--size-unit-8) 0 !important;

  background-color: var(--color-accent-light);
}
