.container {
  border-radius: var(--radii-lg);
  background-color: var(--color-bg);

  width: 450px;
  max-width: 90vw;
}

.info {
  padding: var(--size-unit-12) var(--size-unit-6) var(--size-unit-8);

  .subtitle {
    color: var(--color-text-light);
    font-size: var(--font-size-small);
  }

  h1 {
    padding: 0;
    margin: 0;

    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-bold);
  }
}

.links {
  list-style: none;

  padding: 0 0 var(--size-unit-4);
  margin: 0;

  border-top: var(--size-line) solid var(--color-text-very-light);

  li {
    border-bottom: var(--size-line) solid var(--color-text-very-light);
  }
}

.link {
  display: flex;

  align-items: center;

  padding: var(--size-unit-4) var(--size-unit-6);

  color: var(--color-text);
  text-decoration: none;

  .icon {
    display: flex;

    align-items: center;
    justify-content: center;

    width: var(--size-unit-8);
    height: var(--size-unit-8);

    font-size: var(--font-size-large);

    margin-right: var(--size-unit-4);

    img {
      width: 100%;
      height: 100%;
    }
  }
}
