.outer {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--color-text);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--color-bg);

  svg:nth-child(1) {
    width: 40%;
    height: auto;

    color: var(--color-accent);
  }

  svg:nth-child(2) {
    margin-top: var(--size-unit-6);

    width: 200px;
    height: auto;
  }

  @media screen and (min-width: 768px) {
    svg:nth-child(2) {
      width: 300px;
    }
  }
}

.container {
  display: flex;

  align-items: center;
  flex-direction: column;

  color: var(--color-accent);

  border-radius: var(--radii-lg);

  padding: var(--size-unit-12) var(--size-unit-8);

  height: 100%;

  margin: 0 auto;

  text-align: center;

  p {
    font-size: var(--font-size-large);

    margin: 0 0 var(--size-unit-8);

    line-height: 1.4;

    &.error {
      margin: 0;
      padding: 0;

      font-size: var(--font-size-normal);
    }
  }

  form {
    display: flex;

    flex-direction: column;

    align-items: center;

    padding: 0 var(--size-unit-8);

    width: 100%;

    label {
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 64px 100px;
    max-width: 720px;
    width: 90%;
  }
}

.inputForm {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-bottom: var(--size-unit-12);
}

.errorBox {
  color: var(--color-bg);

  padding-top: var(--size-unit-4);
}

.button {
  display: flex;

  align-items: center;

  background-color: var(--color-accent);
  outline: 0;
  border: 0;

  padding: var(--size-unit-2) var(--size-unit-6);
  margin: 0;

  color: var(--color-text);

  cursor: pointer;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    svg {
      animation: {
        name: BOUNCE;
        iteration-count: infinite;
        direction: alternate;
        duration: 0.5s;
      }
    }
  }

  &Circle {
    justify-content: center;

    margin-top: var(--size-unit-4);

    border-radius: 100%;

    width: 48px;
    height: 48px;

    padding: 0;
  }
}

@keyframes BOUNCE {
  to {
    transform: translate3d(35%, 0, 0);
  }
}

.close {
  right: var(--size-unit-4);
}

.skip {
  color: var(--color-accent);

  border: 0;

  padding: 0;
  margin: var(--size-unit-4) 0 0;

  background-color: transparent;

  outline: 0;

  font-size: var(--font-size-small);
}
