.wrapper {
}

.nav {
  display: flex;

  justify-content: space-between;

  padding: var(--size-unit-5);

  border-bottom: var(--size-line) solid var(--color-line);

  .location,
  .filterToggle {
    display: flex;

    align-items: center;

    padding: 0;
    margin: 0;

    border-radius: 0;

    font-weight: var(--font-weight-normal);

    outline: 0;
    background-color: transparent;
    border: none;

    transition: {
      duration: 0.35s;
      property: opacity;
    }

    svg {
      &:first-child {
        margin-right: var(--size-unit-2);
      }
      &:last-child {
        margin-left: var(--size-unit-2);
      }

      transition: {
        duration: 0.35s;
        property: transform;
      }
    }

    &:hover,
    &:focus {
      opacity: 0.5;

      cursor: pointer;
    }
  }
}

.filterToggleOpen svg {
  transform: rotate(180deg);
}

.filterPool {
  display: grid;

  grid-template-columns: 2fr 1fr;
  padding: var(--size-unit-6);

  grid-gap: var(--size-unit-4);
}

.filterTitle {
  display: block;

  margin-bottom: var(--size-unit-6);

  font-weight: var(--font-weight-bold);
}

.tags {
  ul {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--size-unit-2);
    grid-row-gap: var(--size-unit-6);

    list-style: none;

    padding: 0;
    margin: 0;
  }

  li {
    flex-basis: var;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &:nth-child(1) {
    grid-column: 1;
  }

  &:nth-child(2) {
    grid-column: 2;

    ul {
      grid-template-columns: 1fr;
    }
  }
}
