@import "variables";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);

  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

main {
  display: grid;

  grid-template-columns: 1fr 1fr;

  min-height: 100vh;

  .left {
    display: flex;

    flex-direction: column;

    grid-column: 1 / span 1;

    .content {
      flex-grow: 1;
    }
  }

  .right {
    position: sticky;

    top: 0;

    grid-column: 2 / span 1;

    background-color: var(--color-text-light);

    height: 100vh;

    .button {
      position: absolute;

      left: 50%;
      bottom: var(--size-unit-10);

      transform: translate3d(-50%, 0, 0);
    }
  }
}
