@import "variables";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);

  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

main {
  display: grid;

  height: 100vh;

  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;

  grid-template-areas:
    "left"
    "content";

  .left {
    display: flex;

    flex-direction: column;

    grid-column: 1 / span 1;

    grid-area: left;
  }

  .content {
    grid-area: content;
  }

  .right {
    display: none;

    position: sticky;

    top: 0;

    background-color: var(--color-text-light);

    grid-area: content;

    overflow: hidden;
  }

  &.mapOpen {
    .content {
      display: none;
    }

    .right {
      display: block;
    }
  }

  .floating {
    position: fixed;

    left: var(--size-unit-4);
    bottom: var(--size-unit-4);
  }

  @media screen and (min-width: 768px) {
    height: 100vh;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;

    grid-template-areas:
      "left map"
      "content map";

    .content {
      display: block;

      overflow: auto;
    }

    .right {
      display: block;

      grid-column: 2 / span 1;

      grid-area: map;

      height: 100vh;
    }

    .floating {
      right: 25%;
      left: auto;
      bottom: var(--size-unit-10);

      transform: translate3d(50%, 0, 0);
    }

    &.mapOpen {
      .content {
        display: block;
      }

      .right {
        display: block;
      }
    }
  }
}

#main-logo {
  position: absolute;

  top: var(--size-unit-5);
  left: var(--size-unit-4);
  height: 40px;

  z-index: 20;

  padding: 0;
  margin: 0;

  font-weight: var(--font-weight-bold);

  display: flex;

  align-items: center;

  svg:nth-child(1) {
    display: none;

    width: auto;
    height: 40px;

    margin-right: var(--size-unit-4);

    @media screen and (min-width: 500px) {
      display: block;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 850px) {
      display: block;
    }
  }

  svg:nth-child(2) {
    width: auto;
    height: 32px;

    margin-top: 3px;
  }

  .modal-open & {
    svg:nth-child(1) {
      color: var(--color-accent);
    }

    svg:nth-child(2) {
      color: var(--color-bg);
    }
  }
}

.loading-global {
  position: fixed;

  top: var(--size-unit-4);
  right: var(--size-unit-4);

  color: var(--color-accent);

  z-index: 10;
}

.map-toggle {
  display: flex;

  align-items: center;
  justify-content: center;

  position: fixed;

  bottom: var(--size-unit-4);
  right: var(--size-unit-4);

  width: 52px;
  height: 52px;

  background-color: var(--color-accent);
  color: var(--color-text);

  border-radius: 100%;

  outline: 0;

  border: 0;

  transition: {
    duration: 0.25s;
    property: opacity;
  }

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  @media screen and (min-width: 768px) {
    bottom: var(--size-unit-10);
  }
}
