:root {
  --card-image-size: 50%;
  --card-links-direction: column;
}

.card {
  display: flex;

  flex-direction: column;

  border-radius: var(--radii-md);
  overflow: hidden;

  background-color: var(--color-bg);

  box-shadow: var(--shadow-subtle);

  border: 1px solid #f0f4f4;
}

.highlight {
  @media screen and (min-width: 768px) {
    animation: {
      name: PULSE;
      duration: 0.5s;
      iteration-count: 6;
      direction: alternate;
    }
  }
}

.content {
  display: flex;

  flex-direction: column;

  flex-grow: 1;
  padding: var(--size-unit-4) var(--size-unit-4) var(--size-unit-5);
}

.title {
  font-weight: var(--font-weight-bold);
}

.info {
  color: var(--color-text-light);
  font-size: var(--font-size-small);

  span {
    display: inline-block;

    &:not(:last-of-type):after {
      display: inline-block;

      margin: 0 var(--size-unit-2);

      content: "\00B7";
    }
  }
}

.title,
.info {
  display: block;

  margin-bottom: var(--size-unit-1);
}

.info:nth-child(3) {
  flex-grow: 1;
}

.image {
  position: relative;

  padding-bottom: var(--card-image-size);
}

.links {
  display: flex;

  flex-wrap: wrap;

  flex-direction: var(--card-links-direction);
  align-items: flex-start;

  list-style: none;

  padding: var(--size-unit-1) 0 0;
  margin: 0;

  &Button {
    display: block;

    color: var(--color-text);

    text-decoration: none;

    font-size: var(--font-size-small);

    background-color: transparent;
    border: var(--size-line) solid var(--color-text);
    outline: 0;

    padding: var(--size-unit-2) var(--size-unit-3);
    margin: var(--size-unit-3) var(--size-unit-3) 0 0;

    border-radius: var(--radii-lg);

    text-align: left;

    cursor: pointer;

    span {
      .slim & {
        display: none;
      }
    }

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;

    &Button {
      margin: var(--size-unit-3) 0 0;

      .slim & span {
        display: inline;
      }
    }
  }
}

@keyframes PULSE {
  to {
    transform: scale(1.05);
    box-shadow: var(--shadow-accent-subtle);
  }
}

.good {
  position: absolute;

  right: var(--size-unit-2);
  bottom: var(--size-unit-2);

  display: flex;

  align-items: center;

  background-color: var(--color-text);
  color: var(--color-bg);

  padding: 6px var(--size-unit-2);

  border-radius: var(--radii-md);

  font-size: var(--font-size-x-small);

  text-decoration: none;
}
