.close {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;

  top: var(--size-unit-4);
  right: var(--size-unit-4);

  background-color: var(--color-text);
  color: var(--color-bg);

  line-height: 0;

  width: var(--size-unit-10);
  height: var(--size-unit-10);

  border: 0;
  outline: 0;

  border-radius: 50%;

  padding: var(--size-unit-2);

  transition: {
    duration: 0.35s;
    property: opacity;
  }

  cursor: pointer;

  svg {
    width: 12px;
    height: 12px;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &.alt {
    background-color: var(--color-accent);
    color: var(--color-text);
  }
}
