.wrapper {
  position: relative;

  background-color: var(--color-accent);

  div {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: {
      size: cover;
      position: center;
    }

    opacity: 0;

    transition: {
      duration: 0.25s;
      property: opacity;
    }
  }
}

.loaded div {
  opacity: 1;
}
