.list {
  display: flex;

  list-style: none;

  padding: 0;
  margin: 0;

  color: inherit;

  li {
    margin: 0 var(--size-unit-4);
  }

  a {
    display: flex;

    align-items: center;
    justify-content: center;

    color: inherit;

    width: 48px;
    height: 48px;

    border: var(--size-line) solid currentColor;

    border-radius: 100%;

    svg {
      width: 24px;
      height: 24px;
    }

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}
