:root {
  --checkbox-border-radius: var(--radii-md);
  --checkbox-inactive-color: var(--color-inactive-border);
  --checkbox-active-color: var(--color-text);
  --checkbox-active-dot-color: var(--color-accent);

  --checkbox-size: 16px;
  --checkbox-circle-size: 6px;
  --checkbox-border-size: var(--size-line);
}

.container {
  display: flex;

  align-items: center;

  cursor: pointer;
}

.checkbox {
  position: relative;

  display: inline-block;

  width: var(--checkbox-size);
  height: var(--checkbox-size);

  cursor: pointer;

  border: var(--checkbox-border-size) solid var(--checkbox-inactive-color);
  border-radius: var(--checkbox-border-radius);

  input {
    display: none;
  }
}

.checked .checkbox {
  border-color: var(--checkbox-border-color);
  background-color: var(--checkbox-active-color);

  &:before {
    position: absolute;

    top: 50%;
    left: 50%;

    content: "";

    width: var(--checkbox-circle-size);
    height: var(--checkbox-circle-size);

    border-radius: 50%;

    background-color: var(--checkbox-active-dot-color);

    transform: translate3d(-50%, -50%, 0);
  }
}

.label {
  margin-left: var(--size-unit-2);
  color: var(--checkbox-inactive-color);

  .checked & {
    color: var(--checkbox-active-color);
  }
}
