.label {
  position: relative;

  display: flex;

  background-color: var(--input-bg-color);
  color: var(--input-fg-inactive-color);

  border-radius: var(--input-border-radius);

  overflow: hidden;

  .title {
    position: absolute;

    top: var(--size-unit-3);
    left: var(--size-unit-4);
    font-size: var(--font-size-x-small);

    transform-origin: top left;

    pointer-events: none;

    transition: {
      duration: 0.15s;
      property: transform;
    }
  }

  &.hide .title {
    display: none;
  }

  &.inactive .title {
    transform: scale(1.5) translate(10%, 45%);
  }

  &.hide.inactive .title {
    display: block;
    transform: scale(1.5) translate(10%, 35%);
  }

  &.disabled {
    background-color: var(--input-bg-disabled-color);
  }
}
