.wrapper {
  width: 50vw;
  height: 100vh;

  overflow: auto;

  padding: var(--size-header-clear) var(--size-unit-4) 0;

  background-color: var(--color-panel-bg);
  color: var(--color-panel-fg);

  display: grid;

  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: min-content;
  grid-template-rows: 1fr min-content;

  p {
    font-size: var(--font-size-large);

    padding: 0;
    margin: 0 0 var(--size-unit-4);
  }

  footer {
    display: flex;

    justify-content: space-between;

    grid-column: 1 / span 6;

    padding-bottom: var(--size-unit-4);

    a {
      color: var(--color-panel-fg);
      font-size: var(--font-size-large);

      &:nth-child(2) {
        text-decoration: none;
      }
    }
  }
}

.text {
  grid-column: 1 / span 5;
}
