.wrapper {
  width: 100vw;
  height: 100vh;

  overflow: auto;

  padding: var(--size-header-clear) var(--size-unit-4) 0;

  background-color: var(--color-panel-bg);
  color: var(--color-panel-fg);

  display: grid;

  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: min-content;
  grid-template-rows: 1fr min-content;

  p {
    font-size: var(--font-size-large);

    padding: 0;
    margin: 0 0 var(--size-unit-4);
  }

  footer {
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    grid-column: 1 / span 6;

    padding-bottom: var(--size-unit-8);

    margin-top: var(--size-unit-8);

    a {
      color: var(--color-panel-fg);
      font-size: var(--font-size-large);
      margin-top: var(--size-unit-4);

      &:nth-child(2) {
        text-decoration: none;
      }
    }
  }

  @media screen and (min-width: 768px) {
    width: 50vw;

    footer {
      flex-direction: row;

      padding-bottom: var(--size-unit-4);

      margin-top: var(--size-unit-8);
    }
  }
}

.text {
  grid-column: 1 / span 5;
}
